.theme-black {
  /*
    Black color pallete
  */

  // gradients
  --color-main: #000000;
  --color-main-translucent: #00000080;

  // active gradients
  --color-active-gradient-dark: #1e1e1e;
  --color-active-gradient-light: #2a2a2a;

  // box shadows
  --color-shadow-hover: #444444;

  // highlights
  --color-highlight-translucent-middle: #ffffff33;
  --color-text-muted: #ffffff66;

  // text
  --text-color: #ffffff;
}

.theme-white {
  /*
    White color pallete
  */

  // gradients
  --color-main: #b9b9b9;
  --color-main-translucent: #ffffff80;

  // active gradients
  --color-active-gradient-dark: #d5d5d5;
  --color-active-gradient-light: #e1e1e1;

  // box shadows
  --color-shadow-hover: #bbbbbb;

  // highlights
  --color-highlight-translucent-middle: #00000033;
  --color-text-muted: #00000066;

  // text
  --text-color: #000000;
}

.theme-green {
  /*
    White color pallete
  */

  // gradients
  --color-main: #5ee053;
  --color-main-translucent: #00000080;

  // active gradients
  --color-active-gradient-dark: #7aff70;
  --color-active-gradient-light: #88ff7e;

  // box shadows
  --color-shadow-hover: #a8ffa0;

  // highlights
  --color-highlight-translucent-middle: #ffffff33;
  --color-text-muted: #ffffff66;

  // text
  --text-color: #fff;
}

.theme-red {
  /*
    Red color pallete
  */

  // gradients
  --color-main: #c0392b;
  --color-main-translucent: #00000080;

  // active gradients
  --color-active-gradient-dark: #e84040;
  --color-active-gradient-light: #f55252;

  // box shadows
  --color-shadow-hover: #ff7675;

  // highlights
  --color-highlight-translucent-middle: #ffffff33;
  --color-text-muted: #ffffff66;

  // text
  --text-color: #fff;
}

// for development and making new themes
.hues-by-color {

  // solid — brightest to dullest
  --text-color: rgb(255, 255, 255);
  --color-shadow-hover: rgb(68, 68, 68);
  --color-active-gradient-light: rgb(42, 42, 42);
  --color-active-gradient-dark: rgb(30, 30, 30);
  --color-main: rgb(0, 0, 0);

  // translucent — brightest to dullest
  --color-text-muted: rgba(255, 255, 255, 0.4);
  --color-highlight-translucent-middle: rgba(255, 255, 255, 0.2);
  --color-main-translucent: rgba(0, 0, 0, 0.502);
}
