.label {
  font-family: 'Geist Mono', monospace;
  font-size: 14px;
  margin-bottom: 3px;
  padding-left: 7px;
  color: grey;
  user-select: none;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  padding: 7px 36px 7px 16px;
  border-radius: 1em / 1.3em;
  font-size: 14px;
  font-family: 'Geist Mono', monospace;
  border: 1px solid grey;
  cursor: pointer;
  width: 100%;
  min-width: 177px;
  user-select: none;

  background-color: rgb(246, 246, 246);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='none' stroke='grey' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M2 4l4 4 4-4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;

  transition:
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: #c9c9c9;
    box-shadow: 0 0 0 2px #00000019, 
    0 0 12px 0px #00000022;
  }
}

.options {
  font-family: 'Geist Mono', monospace;
  font-size: 14px;
  background-color: rgba(185, 185, 185, 0.55);
}
